.dynamic-ordering-form:not(:active) {
  padding: 8px 12px;
  border-top: 1px solid #f2f2f2;
  cursor: move;
  cursor: grab;
}
.dynamic-ordering-form:nth-child(even) {
  background-color: rgba(0,0,0,0.01);
}
.dynamic-ordering-form:active {
  cursor: move;
  cursor: grabbing;
}
.gu-mirror {
  cursor: move;
  cursor: grabbing !important;
}
.dynamic-ordering-form:last-child {
  border-bottom: 1px solid #f2f2f2;
}
.dynamic-ordering-name {
  display: inline-block;
  padding-left: 15px;
}
.dynamic-ordering-color-hex {
  display:inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  top: 5px;
  left: 7px;
}
