{% block dynamic_ordering_management_form %}
  {{ formset.management_form }}
{% endblock dynamic_ordering_management_form %}

{% block dynamic_ordering_non_form_errors %}
  {% if formset.non_form_errors %}
    <ul>
      {% for error in formset.non_form_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock dynamic_ordering_non_form_errors %}

{% for form in formset %}
  {% if form.non_field_errors %}
    <ul>
      {% for field in form.non_field_errors %}
        <li>{{ field }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% block dynamic_ordering_form %}
    <div class="dynamic-ordering-form">
      {% block drag_handler %}
        <i class="icon-sort"></i>
      {% endblock drag_handler %}

      {% for field in form %}
        {% block dynamic_ordering_field %}
          {% if not field.is_hidden %}
            <div class="dynamic-ordering-form-field">
              {{ field }}
              {% if field.errors %}
                <ul class="errors-list dynamic-ordering-errors-list">
                  {% for error in field.errors %}
                    <li class="error dynamic-ordering-error">{{ error }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% else %}
            {{ field }}
          {% endif %}
        {% endblock dynamic_ordering_field %}
      {% endfor %}
      {% block dynamic_ordering_instance_repr %}
        <span class="dynamic-ordering-name">{{ form.instance }}</span>
      {% endblock dynamic_ordering_instance_repr %}
    </div>
  {% endblock dynamic_ordering_form %}
{% endfor %}
