{% load static dynamic_ordering i18n %}

{% dynamic_ordering_partial_template model as partial_template %}

{% block dynamic_ordering_styles %}
  <link rel="stylesheet" href="{% static 'dynamic-ordering/css/dynamic-ordering.css' %}"2>
{% endblock dynamic_ordering_styles %}


<form action="" method="post">
  {% csrf_token %}
  {% block dynamic_ordering_partial %}
    {% include partial_template %}
  {% endblock dynamic_ordering_partial %}
  <button type="submit" name="button">{% trans "Submit" %}</button>
</form>


{% block dynamic_ordering_scripts %}
  {# <script src="{% static 'dynamic-ordering/js/dynamic-ordering.js' %}" charset="utf-8"></script>#}
  <script type="text/javascript">
    (function() {
    'use strict';

    document.addEventListener('DOMContentLoaded', function() {
      var forms = document.querySelectorAll('.dynamic-ordering-form');
      var dragZone = forms[0].parentNode;
      var form = null;
      var orderApplied = false; // check before submit

      // Find the form
      if (dragZone.tagName == 'form') {
        form = dragZone;
      } else {
        if (typeof dragZone.closest !== 'undefined') {
          form = dragZone.closest('form');
        } else {
          form = dragZone.parentNode;
          while (form.tagName !== 'form') {
            form = form.parentNode;
          }
        }
      }

      dragula([dragZone]);

      form.addEventListener('submit', function(e) {
        if (!orderApplied) {
          e.preventDefault();

          [].forEach.call(document.querySelectorAll('.dynamic-ordering-form'), function(form, index) {
            form.querySelector('input[id^="id_form-"][id$="-{{ order_by_field }}"]').value = index;
          });

          orderApplied = true;

          form.submit();
        }
      })
    });

    }());

  </script>
{% endblock dynamic_ordering_scripts %}
